.sun-times-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
    width: 100px;
    margin-top: 0px;
    margin-bottom: 80px;
}

.sun-times-column {
    display: flex;
    flex-direction: column;
}

.sun-time-icon>svg {
    width: 40px;
    height: 40px;
    color: var(--secondaryTextColor);
    opacity: 0.5;
    margin-bottom: -5px;
}