/* Columns */

.columns {
    display: grid;
    grid-template-columns: 20px auto auto;
}

.all-columns {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;
}

.left-column {
    grid-row: 1;
    grid-column: 1;
    /* background-color: blue; */
}

.divider-column {
    grid-row: 1;
    grid-column: 2;
}

.right-column {
    grid-row: 1;
    grid-column: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 10px;
}


/* Rows */

.weather-row {
    margin-top: 10px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.time-row {
    height: 20px;
    display: flex;
    flex-direction: row;
}


/* Logo */

.weather-provider-name {
    width: 80px;
    height: 20px;
    transform: rotate(-90deg);
}


/* Scroll bar */

::-webkit-scrollbar {
    height: 20px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background: #FFF;
    transform: translateY(20px);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #dbdbdb;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background: #d1d1d1;
}

::-webkit-scrollbar-thumb:active {
    border-radius: 10px;
    background: #b1b1b1;
}