.list {
    margin-bottom: 20px;
}

.spin {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.title {
    margin-top: 50px;
    margin-bottom: 100px !important;
    position: relative;
    opacity: 0;
    animation: animatetop 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

.items>* {
    position: relative;
    opacity: 0;
    animation: animatebottom 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

@keyframes animatebottom {
    from {
        bottom: -30px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}