.ant-carousel .slick-slide {
    overflow: hidden;
    height: 160px;
    background: #364d79;
}

.ant-carousel .slick-slide div {
    color: rgb(243, 0, 0);
}

.slick-dots {
    color: green !important;
    background-color: orchid !important;
    background: red !important;
}