.weather-page {
    display: grid;
    margin: 5px;
}

#background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(-20deg, #e3ecf5, #accdec);
    z-index: -1;
}