.weather-page {
    display: grid;
    /* Fix grid children overflowing outside the grid */
    grid-template-columns: minmax(0, 100%);
    margin: 5px;
}

#background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-image: var(--backgroundGradient);
    z-index: -1;
}

.search-location-button {
    margin: 10px;
    justify-self: right;
    background: transparent !important;
    border-color: #8b8b8b !important;
    color: #8b8b8b !important;
    border-color: var(--secondaryTextColor) !important;
    color: var(--secondaryTextColor) !important;
}