@import '~antd/dist/antd.css';
body {
    background-color: #000000;
    background-image: url("images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    background-color: #5AA9C2;
}

#app {
    text-align: center;
}